$gray: #424242;
$light-gray: #ECEFF1;
$dark-gray: #161616;
$yellow: #FFD600;
$orange: #FFAB00;
$gradient: linear-gradient(180deg, #FFD600 0.01%, #F9D849 38.54%, #FFAB00 100%);

$xs3: 4px;
$xs2: 8px;
$xs: 16px;
$s: 24px;
$m: 32px;
$l: 48px;
$xl: 64px;
$xl2: 72px;
$xl3: 96px;
$xl4: 144px;

$mediaWidthMobile: 320px;
$mediaWidthPda: 480px;  //xsm
$mediaWidthPdaBig: 640px; //sm
$mediaWidthTablet: 768px; //md
$mediaWidthTabletHorizontal: 1124px;  //lg
$mediaWidthLaptop: 1440px;  //xl
$mediaWidthPC: 1880px;  //xxl

%text-font {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

%bebas-neue-font {
  font-family: 'Bebas Neue', cursive;
  font-weight: 700;
}

%transition {
  transition: all .3s ease-in-out;
}