// общие стили: хэдер, футер, выпадающее меню каталог, мобильная навигация, страница каталог

@import 'vars';
@import 'media';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

// header общее
.header{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 15;
  &__top {
    background: $gray;
    height: 69px;
    box-shadow: 0px 4px 7px rgba(120, 120, 120, 0.35);
    @include media-md {
      box-shadow: none;
      height: 88px;
    }
  }
  &__bot {
    background: $yellow;
    height: 40px;
    display: none;
    @include media-lg {
      display: block;
    }
  }
  &__inner {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

// внутренние элементы header top
.header__top {
  .link {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: $yellow;
    margin-right: 32px;
    &:hover {
      color: $orange;
    }
    &:active {
      color: $light-gray;
    }
  }
  .link-mail {
    display: none;
    margin-left: auto;
    @include media-xl {
      display: block;
    }
  }
  .link-phone {
    margin-left: 88px;
    margin-right: 0;
    @include media-md {
      margin-left: auto;
    }
    @include media-xl {
      margin-left: 0;
    }
  }
  .search__block {
    background: $gray;
    box-shadow: 0px 4px 7px rgba(120, 120, 120, 0.35);
    position: fixed;
    top: 60px;
  }
}

.header__search {
  display: none;
  @include media-md {
    display: block;
  }
}

.header__search .search {
  @include media-md {
    width: 276px;
  }
  @include media-xl {
    width: 352px;
  }
  @include media-xxl {
    width: 481px;
  }
}

.header__logo {
  .logo-mobile {
    display: block;
    @include media-md {
      display: none;
    }
  }
  .logo-pc {
    display: none;
    @include media-md {
      display: block;
    }
  }
}

// строка поиска мобильной версии
.search__block_mobile {
  display: none;
}
.search__block_mobile.visible {
  padding: 0 15px;
  height: 64px;
  background: $gray;
  box-shadow: 0px 4px 7px rgba(120, 120, 120, 0.35);
  box-shadow: inset 0px 4px 7px rgba(120, 120, 120, 0.35);
  display: flex;
  align-items: center;
  .search {
    width: 100%;
  }
  @include media-md {
    display: none;
  }
}

// внутренние элементы header bot
.header__bot {
  nav {
    height: inherit;
    ul {
      display: flex;
      li {
        cursor: pointer;
        margin-right: 48px;
        a {
          line-height: 40px;
          color: $gray;
        }
      }
    }
  }
}

// выпадающее меню каталог
.header__catalog {
  display: none;
  background: white;
  z-index: 10;
  &.visible {
    display: block;
  }
  @include media-lg {
    height: 757px;
  }
  @include media-xl {
    height: 557px;
  }

  .catalog__inner {
    padding: 28px 0 43px;
  }

  .catalog-content {
    width: 160px;
    @include media-xl {
      width: 192px;
    }
    @include media-xxl {
      width: 256px;
    }
  }

  .category {
    width: 160px;
    margin-bottom: 12px;
    margin-right: 22px;
    @include media-xl {
      margin-right: 32px;
    }
    @include media-xxl {
      width: 224px;
    }
    .category__list .subcategory:first-child {
      margin-top: 6px;
    }
  }

  .subcategory {
    margin-left: 8px;
  }

  .subcategory a span {
    display: block;
    @extend %text-font;
    font-size: 12px;
    line-height: 15px;
    color: $gray;
    
    &:hover {
      color: $yellow;
    }

    &:active {
      color: $orange;
    }
  }
}

.catalog__inner {
  align-items: flex-start;
  height: inherit;
}

.catalog-content {
  height: inherit;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.category-title {
    display: block;
    position: relative;
    width: 100%;
    @extend %bebas-neue-font;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 14px;
    color: $gray;
    padding-bottom: 6px;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      border-bottom: 1px solid $yellow;
    }

    &:hover {
      color: $yellow;
    }

    &:active {
      color: $orange;
    }
  }

// мобильная навигация (до 1124px)
.mobile-navigation {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 56px;
  background: $yellow;
  z-index: 20;

  ul {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

    li:not(:last-child){
      margin-right: 35px;
      @include media-md {
        margin-right: 64px;
      }
    }

    li a, li button {
      height: 38px;
      background: transparent;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      font-size: 10px;
      line-height: 12px;
      color: $gray;

      &:active {
        color: white;
      }
    }

    li.active a {
      color: white;
    }

    li svg {
      margin-bottom: 6px;
    }

    .home-tab, .catalog-tab {
      path {
        stroke: $gray;
      }
      &:active path {
        stroke: white;
      }
    }

    .home-tab.active, .catalog-tab.active {
      path {
        stroke: white;
      }
    }

    .contacts-tab {
      fill: $gray;
    }
    .contacts-tab.active {
      fill: white;
    }
    .search-tab {
      path {
        fill: $gray;
      }
      &:active path {
        fill: white;
      }
      @include media-md {
        display: none;
      }
    }
  }
  
  @include media-lg {
    display: none;
  }
}

// footer общее
.footer {
  margin-bottom: 56px;
  @include media-lg {
    margin-bottom: 0;
  }
  &__top {
    background: $yellow;
    padding-top: 32px;
    padding-bottom: 32px;
    @include media-xl {
      padding-top: 44px;
      padding-bottom: 52px;
    }
    @include media-xxl {
      padding-top: 48px;
      padding-bottom: 48px;
    }
  }

  &__bot {
    padding-top: 32px;
    padding-bottom: 32px;
    background: $gray;
    color: white;
    @include media-xl {
      padding-bottom:56px;
    }
    @include media-xxl {
      padding-bottom: 60px;
    }
  }
}

// footer top
.footer__top {
  .footer__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
    @include media-sm {
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-gap: 32px;
      .info-block {
        grid-column: span 2;
      }
      .info-block:nth-child(1), .info-block:nth-child(2) {
        grid-column: span 3;
      }
    }
    @include media-xl {
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: 1fr;
    }
    @include media-xxl {
      .info-block:nth-child(2) {
        grid-column: span 2;
      }
    }
  }

  .info-title span {
    display: block;
    @extend %bebas-neue-font;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 16px;
    color: $gray;
    opacity: 0.5;
    margin-bottom: 4px;
    @include media-sm {
      font-size: 20px;
      line-height: 20px;
      margin-bottom: 8px;
    }
    @include media-xl {
      font-size: 20px;
      line-height: 20px;
    }
  }

  .social-icons a {
    margin-right: 16px;
    path {
      fill: $gray;
      transition: fill .2s ease-in-out;
      &:hover {
        fill: $orange;
      }
      &:active {
        fill: white;
      }
    }
    
  }
}

// footer bot
.footer__bot {
  .info-flexbox {
    display: flex;
    flex-direction: column;
  }
  .info-flexbox:nth-child(1) {
    @include media-sm {
      flex-direction: row;
      .info-block {
        width: 50%;
        margin-right: 32px;
      }
    }
    @include media-xl {
      .info-block {
        width: 23%;
      }
      .info-block:first-child {
        margin-right: 56px;
      }
      .info-content a {
        display: block;
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 4px;
      }
      .info-block:nth-child(2) {
        width: 54%;
        .info-content {
          height: 270px;
        }
      }
      .info-block:nth-child(2) .info-content ul {
        height: inherit;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
      }
      .info-block:nth-child(2) .info-content ul li {
        margin-right: 21px;
      }
    }
    @include media-xxl {
      .info-block:first-child {
        margin-right: 72px;
      }
      .info-block:nth-child(2) .info-content ul li {
        @include media-xxl {
          width: 236px;
          margin-right: 32px;
        }
      }
    }
  }

  .info-flexbox:nth-child(2) {
    .info-content p {
      font-size: 12px;
      line-height: 15px;
    }
    .info-content a {
      display: block;
      font-size: 12px;
      line-height: 15px;
      margin-bottom: 8px;
    }
    @include media-xl {
      flex-direction: row;
      .info-block {
        width: 50%;
        margin-right: 32px;
      }
    }
    .info-block:nth-child(2){
      max-width: 256px;
      @include media-xl {
        margin-right: 0;
        margin-left: 24%;
      }
    }
  }

  .info-title span {
    display: block;
    @extend %bebas-neue-font;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 16px;
    @include media-sm {
      font-size: 20px;
      line-height: 20px;
    }
  }
  .info-content a {
    display: block;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 3px;
  }
  .info-content a, .info-content ul li a {
      color: white;
      &:hover {
        color: $yellow;
      }
      &:active {
        color: $orange;
      }
  }
}

// catalog page (accessed on mobile)
.catalog-section {
  .catalog__inner {
    display: flex;
    // flex-wrap: wrap;
  }

  .catalog-content {
    width: 50%;
    &:not(:nth-child(2)){
      margin-right: 16px;
    }
    &:nth-child(3){
      display: none;
    } 
    &:nth-child(4){
      display: none;
    } 
    
    @include media-xsm {
      width: 33%;
      &:nth-child(2){
        margin-right: 16px;
      } 
      &:nth-child(3){
        display: block;
      } 
    }
    @include media-md {
      width: 23%;
      
      &:nth-child(4){
        display: block;
      } 
    }
  }

  .category {
    width: 100%;
    @include media-md {
      width: 100%;
      max-width: 165px;
    }
    .category__list .subcategory:first-child {
      margin-top: 6px;
    }
  }

  .category-title {
    margin-top: 16px;
  }

  .category__list {
    display: none;
  }
}