// стили страницы категории, напр, аренда землеройной спецтехники

@import '../vars';
@import '../media';

.main-banner {
  height: 187px;
  @include media-xl {
    height: 534px;
  }
  @include media-xxl {
    height: 643px;
  }
 .text-block p {
   font-size: 14px;
   line-height: 17px;
 }
 img {
   @include media-xxl {
    object-position: 0 190%;
   }
 }
}

// сортировка
.sorting {
	background: $yellow;
  height: 33px;
  display: flex;
  align-items: center;
  &.container-big {
    @include media-md {
      max-width: 700px;
      margin: 0 auto;
    }
    @include media-lg {
      max-width: 708px;
    }
    @include media-xl {
      max-width: unset;
    }
  }
  .row {
    height: 100%;
  }
	button {
    height: 100%;
		display: flex;
    align-items: center;
		font-size: 12px;
		line-height: 15px;
		background: $yellow;
    @include media-md {
      font-size: 14px;
      line-height: 17px;
    }
  }
	.show-sorting {
		background: $yellow;
    @include media-xl {
      display: none;
    }
	}
  .show-filters {
    position: relative;
    padding-left: 16px;
    background: $gray;
    color: white;
    @include media-xl {
      display: none;
    }
  }
  .filters__count {
    display: none;
    position: absolute;
    left: 82px;
    color: $yellow;
    text-decoration: underline;
  }
}

.sort-mobile {
  display: none;
  background: $yellow;
  font-size: 12px;
  line-height: 15px;
}

.filter-mobile {
  display: none;
  background: $gray;
  font-size: 12px;
  line-height: 15px;
  color: white;
}

.form_radio {
	margin-bottom: 10px;
}
.form_radio input[type=radio] {
	display: none;
}
.form_radio label {
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 25px;
	margin-right: 0;
	line-height: 18px;
	user-select: none;
}
.form_radio label:before {
	content: "";
	display: inline-block;
	width: 16px;
	height: 16px;
	position: absolute;
	left: 0;
	background: url(../images/icons/radio.svg) 0 0 no-repeat;
}
// in filters
.filter-mobile .form_radio label:before {
  background: url(../images/icons/radio-white.svg) 0 0 no-repeat;
}
 
/* Checked */
.form_radio input[type=radio]:checked + label:before {
	background: url(../images/icons/radio-checked.svg) 0 0 no-repeat;
  opacity: 1;
}
// Checked in filters
.filter-mobile .form_radio input[type=radio]:checked + label:before {
	background: url(../images/icons/radio-checked-white.svg) 0 0 no-repeat;
  opacity: 1;
}
 
/* Hover */
.form_radio label:hover:before {
  @extend %transition;
	opacity: .8;
}

.sort-pc {
  width: 100%;
  button.active {
    font-weight: bold;
    text-decoration: underline;
  }
  button:not(:last-child):after {
    margin-left: 4px;
    content: "|";
    font-weight: normal;
  }
  button:hover {
    @extend %transition;
    opacity: 0.5;
  }
  button:active {
    @extend %transition;
    opacity: 1;
    font-weight: bold;
    text-decoration: underline;
  }
  .filter__btn-pc {
    cursor: pointer;
  }
  .remove-filters {
    cursor: pointer;
    opacity: .5;
    &:hover {
      @extend %transition;
      opacity: 1;
    }
    &:active {
      @extend %transition;
      color: $orange;
    }
  }
}

.filter__block-pc {
  z-index: 100;
  position: absolute;
  background: white;
  padding: 20px 20px 10px 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
.filter__block-pc-2 {
  left: 112px;
}
.filter__block-pc.slider {
  .filter__input input[type=number] {
    background: white;
    border: 1px solid $gray;
    color: $gray;
  }
  .noUi-target.custom-slider {
    border: 1px solid $gray;
  }
  .noUi-horizontal .noUi-handle {
    background: $gray;
  }
}

// slider in filters
.filter__input {
  width: 288px;
  height: 22px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  input[type=number] {
    outline: none;
    text-align: center;
    padding: 5px 10px 5px 10px;
    width: 108px;
    height: 22px;
    border: 1px solid white;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    color: white;
    background: $gray;
  }
}

// noUiSlider styles 
  .noUi-horizontal {
    height: 2px;
    margin-bottom: 8px;
  }
  .noUi-target.custom-slider {
    background: $gray;
    border-radius: none;
    border: 1px solid white;
    width: calc(100% - 16px);
    max-width: 272px;
    margin: 0 0 8px 8px;
  }
  .noUi-base {
    width: calc(100% + 8px);
  }
  .noUi-horizontal .noUi-handle {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    left: 16px;
    top: -7px;
    box-shadow: none;
    &:after, &:before {
      display: none;
    }
  }
  .filter__labels {
    max-width: 300px;
  }

// облака тегов
.cloutags {
  margin-bottom: 16px;
  @include media-md {
    margin-bottom: 40px;
  }
}
.gradient-border {
  position: relative;
  background: linear-gradient(#fff,#fff) padding-box, $gradient border-box;
  color: #313149;
  padding:10px;
  border: 1px solid transparent;
  border-radius:5px;
  display:inline-block;
  z-index: 1;
}

.cloutags ul {
  li {
    cursor: pointer;
    position: relative;
    display: inline-block;
	  @extend %transition;
    padding: 5px 10px;
    width: fit-content;
    margin-right: 8px;
    margin-bottom: 8px;
    z-index: 1;

    a {
      font-size: 12px;
      line-height: 15px;
      color: $orange;
      margin: 0 auto;
      z-index: 5;
    }
    &:before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 5px;
      background: $orange;
      opacity: 0;
      z-index: -3;
      @extend %transition;
    }
    &:hover:before {
      opacity: 1;
    }
    &:hover a {
      @extend %transition;
      color: $gray;
    }

    &:after {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 5px;
      background: $gradient;
      opacity: 0;
      z-index: -2;
      @extend %transition;
    }
    &:active:after {
      opacity: 1;
    }
    &:active a {
      @extend %transition;
      color: $gray;
    }

  }
}

// вкладки превращаются в свайпер на разрешении до 768px
.swipeView {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;

  li {
    min-width: 104px;
    text-align: center;
    scroll-snap-align: start;
    @include media-md {
      min-width: unset;
    }
  }

  @include media-md {
    display: block;
  }
}

// секция с карточками товара
.main-catalog .justify-between-container {
  @include media-xxl {
    max-width: 1561px;
  }
}

// карточка товара
.product-card {
  border: 1px solid $gray;
  border-radius: 5px;
  width: calc(50% - 18px);
  max-width: 180px;
  margin: 0 8px 16px 8px;
  @include media-sm {
    width: calc(25% - 18px);
    max-width: 255px;
  }
  @include media-xl {
    width: 255px;
    max-width: 255px;
    margin: 0 16px 32px 16px;
  }
  @include media-xxl {
    margin: 0 28.5px 32px 28.5px;
  }
  // блок фото
  .product__photo {
    position: relative;
    .photo {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      width: 100%;
      height: 104px;
      object-fit: cover;
      @include media-xl {
        height: 179px;
      }
    }
    .hit {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 4;
    }
  }
  // для переключения фото при наведении
  .photo-1 {
    z-index: 1;
    opacity: 1;
    @extend %transition;
  }
  .photo-2 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
    @extend %transition;
  }
  .photo-3 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    opacity: 0;
    @extend %transition;
  }
  .hover-block {
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 5;
  }
  .hover-block.w50 {
    width: 50%;
    &.showPhoto1 {
      left: 0;
    }
    &.showPhoto2 {
      left: 50%;
    }
  }
  .hover-block.w33 {
    width: 33.333%;
    &.showPhoto1 {
      left: 0;
    }
    &.showPhoto2 {
      left: 33.333%;
    }
    &.showPhoto3 {
      left: 66.666%;
    }
  }
  // пагинация под фото
  .photo-pagination {
    display: none;
    .pagin {
      div {
        cursor: pointer;
        width: 12px;
        height: 12px;
        background: $light-gray;
        border-radius: 25px;
      }
      &.active div {
        background: $yellow;
      }
    }
    @include media-xl {
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: flex-end;
    }
  }
  // заголовок
  .product__title span {
    box-sizing: content-box;
    max-height: 68px;
    overflow: hidden;
    padding: 24px 10px 8px;
    display: block;
    @extend %bebas-neue-font;
    font-size: 16px;
    line-height: 16px;
    color: $gray;
    @include media-xl {
      max-height: 40px;
      padding: 24px 16px 16px 16px;
      font-size: 20px;
      line-height: 20px;  
    }
  }
  // характеристики
  .product__info {
    padding: 0 16px 14px 16px;
  }
  .product__parameter span {
    @extend %text-font;
    color: $gray;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 10px;
  }
  // блок цена
  .product__price {
    max-height: 69px;
    overflow: hidden;
    padding: 8px 10px 4px;
    background: $gray;
    @include media-xl {
      padding: 13px 16px;
      .price-hour {
        display: inline-block;
        margin-bottom: 0;
      }
      .price-day {
        display: inline-block;
        margin-bottom: 0;
        float: right;
      }
    }
    span {
      display: block;
      @extend %text-font;
      color: white;
      font-size: 12px;
      line-height: 15px;
      margin-bottom: 4px;
    }
  }
  // кнопка арендовать
  .product__btn {
    padding: 12px 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    @include media-xl {
      padding: 16px;
    }
    span {
      font-size: 14px;
      @include media-xsm {
        font-size: 16px;
      }
    }
    .compare {
      color: $orange;
      text-decoration: underline;
    }
    button.rent-btn {
      padding: 6.5px 8.5px;
      width: 133px;
      height: 33px;
      margin: 0 auto;
      @include media-xl {
        margin-right: 0;
        margin-left: auto;
      }
    }
    @include media-md {
      justify-content: flex-end;
    }
  }
}

// пагинация страниц
.page-pagination-block {
  @include media-sm {
    display: flex;
  }
}
.page-pagination {
  a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    @extend %text-font;
    color: #000000;
    font-size: 14px;
    line-height: 17px;  
    margin-right: 1px;
    @include media-md {
      margin-right: 3px;
    }
  }
  .page {
    width: 40px;
    height: 40px;
  }
  .page.selected {
    border-radius: 23px;
    background: $gradient;
  }
  .page:hover {
    color: rgba(0,0,0,.5);
  }
  .page:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 23px;
    background: $gradient;
    opacity: 0;
    z-index: -2;
    color: #000000;
    @extend %transition;
  }
  .page:active {
    color: #000000;
  }
  .page:active:after {
    opacity: 1;
  }
}
.page-prev, .page-next {
  width: 29px;
  height: 29px;
  svg {
    stroke: $gray;
    @extend %transition;
  }
  &:hover svg {
    stroke: $yellow;
  }
  &:active svg {
    stroke: $orange;
  }
}

.action-alert {
  display: none;
  position: fixed;
  bottom: 56px;
  z-index: 25;
  width: 100%;
  padding: 8px 0;
  color: white;
  font-size: 16px;
  line-height: 20px;  
  &.accepted {
    background: $green;
  }
  &.declined {
    background: $red;
  }
  @include media-xl {
    bottom: 0;
  }
}