// стили главной страницы

@import '../vars';
@import '../media';
@import '../fonts';
@import '../reset';
@import '../libs';
@import '../global';

.main-banner {
  height: 444px;
  @include media-xl {
    height: 524px;
  }
  @include media-xxl {
    height: 657px;
  }
  img {
    object-position: 38%;
  }
}
.main-banner h1 {
  max-width: 260px;
  @include media-xl {
    max-width: 420px;
  }
}
.main-banner .text-block {
  p {
    font-size: 16px;
    line-height: 20px;
    @include media-xl {
      font-size: 20px;
      line-height: 24px;
    }
  }
  a {
    color: $yellow;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
  }
}

.under-banner {
  p {
    @include media-xl {
      width: calc(50% - 16px);
    }
    @include media-xxl {
      width: calc(50% - 21px);
    }
  }
  p:first-child {
    margin-bottom: 12px;
    @include media-xl {
      margin-bottom: 0;
      margin-right: 32px;
    }
    @include media-xxl {
      margin-right: 42px;
    }
  }
}

.block-section {
  .offer-title {
    @include media-xl {
      max-width: 352px;
    }
    @include media-xxl {
      max-width: unset;
    }
  }
}

.info-banner {
  .container {
    @include media-lg { 
      padding-left: 10%;
    }
    @include media-xl { 
      padding-left: 31%;
    }
    @include media-xxl { 
      padding-left: 47.2%;
    }
  }

  img {
    object-position: 0;
    height: 220px;
    @include media-lg {
      height: 499px;
      object-position: 68%;
    }
    @include media-xl {
      object-position: 40%;
    }
  }
}

.offer__items.profi {
  .offer__item {
    @include media-xl {
      max-width: 351px;
    }
  }
}