// стили страницы каталога

@import '../vars';
@import '../media';
@import '../fonts';
@import '../reset';
@import '../libs';
@import '../global';

.main-banner {
  height: 187px;
  @include media-xl {
    height: 524px;
  }
  @include media-xxl {
    height: 660px;
  }
 .text-block p {
   font-size: 14px;
   line-height: 17px;
 }
 img {
   @include media-xxl {
    object-position: 0 190%;
   }
 }
}

.company-info-mobile {
  button {
    width: 100%;
    max-width: 376px;
  }
}

.info-banner {
  .container {
    @include media-lg { 
      padding-left: 10%;
    }
    @include media-xl { 
      padding-left: 33%;
    }
    @include media-xxl { 
      padding-left: 48%;
    }
  }

  img {
    object-position: 15%;
    height: 220px;
    @include media-lg {
      height: 363px;
      object-position: 68%;
    }
    @include media-xl {
      height: 380px;
      object-position: 40%;
    }
  }
}